@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400&display=swap");

/* font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
.navbar {
  width: 100%;
  height: 65px;
  background-color: white;
  color: black;
  position: fixed;
  top: 40px; /* Adjust based on the height of your Mininavbar */
  z-index: 98;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  /* border: 2px solid blue; */
}
.navbar .logo {
  margin-left: 50px;
  width: 100px;
  height: 45px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.navbar .logo img {
  width: 100px;
  height: 45px;
  object-fit: cover;
}
.navbar .center-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}
.navbar .center-list .left-list {
  display: flex;
  align-items: center;
}
.navbar .center-list .left-list li {
  padding: 5px 7px;
  box-sizing: border-box;
}
.right-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .center-list li {
  list-style: none;
}
.navbar .center-list li a {
  font-family: "Libre Baskerville", serif;
  color: black;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}
.active {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(209, 232, 252);
}
.navbar .right-list li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  padding: 0 7px;
  /* background-color: rgb(235, 233, 233); */
}
.navbar .right-list li:active svg {
  transform: scale(1.2);
}
.navbar .right-list li svg {
  font-size: 22px;
  color: rgb(14, 14, 64);
}
.navbar .menu svg {
  font-size: 22px;
  display: none;
}
@media screen and (max-width: 900px) {
  .navbar {
    justify-content: space-between;
    padding: 5px 10px;
    height: 50px;
  }
  .navbar .logo {
    margin-left: 0;
  }
  .navbar .logo img {
    width: 90px;
    height: 40px;
  }
  .navbar .menu svg {
    text-align: center;
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .navbar .center-list {
    position: fixed;
    top: 90px;
    left: -550px;
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.63);
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: 100vh;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 70%;
    flex-direction: column;
    padding: 20px 0;
    justify-content: start;
    transition: all 0.5s linear;
    z-index: 99;
    gap: 0;
  }
  .navbar .center-list .left-list {
    display: block;
    text-align: center;
  }
  .navbar .left {
    left: -20px;
  }
  .navbar .center-list .left-list li {
    padding: 17px 0px;
  }
  .navbar .center-list .left-list li a {
    color: white;
    font-size: 12px;
  }
  .active {
    background-color: black;
  }
  .navbar .right-list li {
    width: 35px;
    height: 35px;
    padding: 0;
  }
  .navbar .right-list li svg {
    font-size: 18px;
    color: white;
  }
}
