.orders-container {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(60, 60, 60, 0.4), rgba(57, 57, 57, 0.4)),
    /* Background Image */ url("../../Images/na_january_20.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: 110px;
  user-select: none;
}
.orders-container .orders-main {
  width: 100%;
  height: 100vh;
}
.orders-container .orders-main .orders-header {
  display: flex;
  align-items: center;
  padding: 3px 25px;
  height: 40px;
  background-color: rgb(248, 85, 26);
  justify-content: space-between;
  text-transform: capitalize;
  color: white;
  box-sizing: border-box;
}
.orders-container .orders-main .orders-header h2 {
  font-family: serif;
  font-size: 20px;
  font-weight: 500;
  width: 250px;
  text-align: center;
}
.orders-container .orders-main .content {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  height: 45px;
  justify-content: space-between;
  text-transform: capitalize;
  color: white;
  box-sizing: border-box;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.2);
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgb(181, 172, 172);
}
.orders-container .orders-main .content p {
  font-family: serif;
  font-size: 18px;
  font-weight: 500;
  width: 250px;
  text-align: center;
  color: white;
  transition: all 0.3s ease-in-out;
}
.orders-container .orders-main .content:hover {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.726);
  color: black;
}
.orders-container .orders-main .content:hover p {
  color: black;
}
@media screen and (max-width: 900px) {
  .orders-container .orders-main .orders-header {
    padding: 5px;
    height: 30px;
    align-items: baseline;
  }
  .orders-container .orders-main .orders-header h2 {
    width: 100px;
    font-size: 10px;
    text-align: center;
  }
  .orders-container .orders-main .content {
    padding: 5px 8px;
    height: 25px;
    align-items: baseline;
  }
  .orders-container .orders-main .content p {
    width: 50px;
    font-size: 6px;
    text-align: center;
  }
}
