@import url("https://fonts.googleapis.com/css2?family=Neuton&family=Playfair+Display&display=swap");

/* font-family: 'Neuton', serif;
font-family: 'Playfair Display', serif; */
.features {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 40px 30px;
}
.features .flex {
  /* background: rgb(255, 255, 255); */
  display: flex;
  gap: 10px;
  align-items: center;
  width: 250px;
  /* height: 70px; */
  padding: 15px 5px;
  border-radius: 5px;
  /* justify-content: center; */
}
.features .icon {
  font-size: 30px;
}
.features .content p {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  font-family: "Neuton", serif;
}
.features .content span {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: rgb(114, 112, 112);
  font-family: "Playfair Display", serif;
}
.full-slider {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .features {
    max-width: 99%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
    gap: 3px;
  }
  .features .flex {
    margin-top: 5px;
    width: 140px;
    border: 1px solid rgb(221, 217, 217);
  }
  .features .icon {
    font-size: 18px;
  }
  .features .content p {
    font-size: 11px;
  }
  .features .content span {
    font-size: 8px;
  }
}
